<mat-sidenav-container>
  <mat-sidenav mode="side" #sidenav [(opened)]="isOpen">
    <mat-radio-group aria-labelledby="example-radio-group-label" [(ngModel)]="mode" (change)="onModeChange()">
      <mat-radio-button *ngFor="let m of modes" [value]="m">
        {{m}}
      </mat-radio-button>
    </mat-radio-group>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="header">
      <button mat-icon-button (click)="sidenav.toggle()" aria-label="Example icon-button with a heart icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="header-txt">
        <a href="https://github.com/canbax/handyCalc" target="_blank"> Handy Calculator (0.0 beta)</a>
      </span>

    </div>
    <div class="container">
      <div class="input-result">
        <mat-form-field [style.fontSize]="16" class="editor">
          <textarea #userInp (keydown)="onKeyDown($event)" (keyup)="onKeyUp($event)" autofocus matInput
            cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" [ngModel]='inp'
            (ngModelChange)='changed($event)' cdkAutosizeMaxRows="10"></textarea>
          <button mat-icon-button matSuffix (click)="copy(inp)">
            <mat-icon>file_copy</mat-icon>
          </button>
        </mat-form-field>
        <div>
          <span class="result-txt">{{result}}</span>
          <button *ngIf="result" mat-icon-button matSuffix (click)="copy(result)">
            <mat-icon>file_copy</mat-icon>
          </button>
          <mat-radio-group *ngIf="isTrigonometric" class="degree-radio" [(ngModel)]="degreeUnit" (change)="onDegreeUnitChange()">
            <mat-radio-button *ngFor="let u of degreeUnits" [value]="u">
              {{u}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <app-screen-keyboard [currInp]="inp" (screenKeyClicked)="onScreenKeyClicked($event)"></app-screen-keyboard>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>