<mat-sidenav-container >
  <mat-sidenav mode="side" #sidenav [(opened)]="isOpen" class="m-5" (disableClose)="true">
    <mat-radio-group aria-labelledby="example-radio-group-label" [(ngModel)]="mode" (change)="onModeChange()">
      <mat-radio-button *ngFor="let m of modes" [value]="m">
        {{m}}
      </mat-radio-button>
    </mat-radio-group>

    <form [formGroup]="fnListForm">
      <mat-form-field>
        <input type="text" matInput placeholder="Functions" formControlName="fnGroup" required
          [matAutocomplete]="autoGroup">
        <mat-autocomplete #autoGroup="matAutocomplete" (optionSelected)="fnSelected($event)">
          <mat-optgroup *ngFor="let group of fnGroupOptions | async" [label]="group.title">
            <mat-option *ngFor="let name of group.fnList" [value]="name">
              {{name}}
            </mat-option>
          </mat-optgroup>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <span class="">
      {{fnExpo}}
    </span>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="header">
      <button mat-icon-button (click)="sidenav.toggle()" aria-label="Example icon-button with a heart icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="header-txt">
        <a href="https://github.com/canbax/handyCalc" target="_blank"> Handy Calculator (0.0 beta)</a>
      </span>
    </div>

    <div class="container">
      <div>
        <mat-form-field [style.fontSize]="16" class="editor">
          <textarea #userInp (keydown)="onKeyDown($event)" (keyup)="onKeyUp($event)" autofocus matInput
            cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" [ngModel]='inp'
            (ngModelChange)='changed($event)' cdkAutosizeMaxRows="10"></textarea>
          <button mat-icon-button matSuffix (click)="copy(inp)">
            <mat-icon>file_copy</mat-icon>
          </button>
        </mat-form-field>
        <div>
          <div *ngIf="mode == 'programmer'">
            <mat-radio-group [(ngModel)]="base" (change)="onBaseChange()">
              <mat-radio-button *ngFor="let b of bases; let i = index" [value]="b">
                <span class="result-base"> {{b}} &nbsp;&nbsp;</span>
                <span class="result-txt">{{results[i]}}</span>
                <button *ngIf="results[i].length > 0" mat-icon-button matSuffix (click)="copy(results[i])">
                  <mat-icon>file_copy</mat-icon>
                </button>
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <div *ngIf="mode != 'programmer'">
            <span class="result-txt">{{results[1]}}</span>
            <button *ngIf="results[1].length > 0" mat-icon-button matSuffix (click)="copy(results[1])">
              <mat-icon>file_copy</mat-icon>
            </button>
          </div>
          <mat-radio-group *ngIf="isTrigonometric" class="degree-radio" [(ngModel)]="degreeUnit"
            (change)="onDegreeUnitChange()">
            <mat-radio-button *ngFor="let u of degreeUnits" [value]="u">
              {{u}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
    <app-screen-keyboard [currInp]="inp" (screenKeyClicked)="onScreenKeyClicked($event)"></app-screen-keyboard>

  </mat-sidenav-content>
</mat-sidenav-container>